POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=pawnder_db
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/pawnder_db
SECRET_KEY=YOUR_SECRET_KEY
OCI_TENANCY_OCID=ORACLE_TENANCY_OCID
OCI_USER_OCID=ORACLE_USER_OCID
OCI_FINGERPRINT=ORACLE_FINGERPRINT
OCI_KEY_FILE=./secrets/oci_api_key.pem
OCI_REGION=BUCKET_REGION
OCI_NAMESPACE=BUCKET_NAMESPACE
OCI_BUCKET=BUCKET_NAME